<footer id="footer"><!--Footer-->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="companyinfo">
                        <h2><span>Haber</span>Sitesi</h2>
                        <p>Doğru,Güvenilir,Tarafsız Haber Sitesi</p>
                    </div>
                </div>
                <div class="col-sm-7">

                    {% for rs in randomnews %}
                        <div class="col-sm-3">

                            <div class="video-gallery text-center">
                                <a href="/news/{{rs.id}}/{{rs.slug}}">
                                    <div class="iframe-img">
                                        <img src="{{rs.image.url}}" style="height: 75px" alt="" />
                                    </div>

                                </a>

                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <a href="/"><h2>Anasayfa</h2></a>
                        </div>
                    </div>
                    <div class="col-sm-2">

                        <div class="single-widget">

                            <a href=""><h2>Kategori</h2></a>

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <a href="/hakkimizda/"><h2>Hakkımızda</h2></a>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <a href="/iletisim/"><h2>İletişim</h2></a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="single-widget">
                            <h2>İhbar Hattı</h2>
                            <form action="#" class="searchform">
                                <input type="text" placeholder="Your email address" />
                                <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                                <div class="social-icons pull-right">
                                    <ul class="nav navbar-nav">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2020 Nadir Korkut | All rights reserved.</p>
                    <p class="pull-right">Designed by <span><a target="_blank" href="https://github.com/nadirkorkut">Nadir</a></span></p>
                </div>
            </div>
        </div>
    </div>

</footer><!--/Footer-->


{% load static %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'js/price-range.js' %}"></script>
<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>