<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div id="slider-carousel" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                        <li data-target="#slider-carousel" data-slide-to="3"></li>
                    </ol>


                    <div class="carousel-inner">
                        {% for rs in sliderdata %}
                        <div class="item {% if forloop.counter == 1 %} active {% endif %}">
                            <div class="col-sm-6">
                                <h1><span>Son</span> Dakika</h1>
                                <h2>{{ rs.title }}</h2>
                                <p>{{ rs.description}} </p>
                                <a href="/news/{{ rs.id }}/{{ rs.title }}" class="btn btn-default get">Okumak için tıklayınız</a>
                            </div>
                            <div class="col-sm-6">
                                <img src="{{ rs.image.url }}" class="girl img-responsive" alt="" />
                            </div>
                        </div>
                    {% endfor %}
                    </div>


                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>

                </div>

            </div>

        </div>

    </div>

</section><!--/slider-->